body {

margin:0;

padding:0;

width: 100%;

}

h1 {

padding-left: 100px;

font:bold 14px/1.5em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;

text-transform:uppercase;

}

</style>



<style type="text/css">

/* The placement of the div object in the web page */

div.rotator {

position:relative;

height:345px;

margin-left: 15px;

display: none;

}

/* Style for the rotator */

div.rotator ul li {

float:left;

position:absolute;

list-style: none;

}

/* Style for the image displayed */

div.rotator ul li img {

border:1px solid #ccc;

padding: 4px;

background: #FFF;

}

div.rotator ul li.show {

z-index:500

}
